/* 
* @Author: liujinyan
* @Date:   2016-03-31 16:45:22
* @Last Modified by:   liujinyan
* @Last Modified time: 2016-04-03 14:41:46
*/
@charset "utf-8";
.form-taks18{
    height: 400px;
    border: 1px solid #ccc;
    min-width: 768px;
    margin: 20px;
}